/*general starts*/
:root {
    --white: white;
    --grey: #a3a18d;
    --mauve: #c6a6a2;
    --faded: rgba(198, 166, 162, 0.9);
    --blue: #172953;
    --dark: black;
    --shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
html {
    box-sizing: border-box;
    font-family: 'Urbanist';
    color: var(--dark);
}
body {
    background-color: white;
    line-height: 1.4;
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
/*Navbar*/
nav {
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'name list';
}
.main-nav ul {
    grid-area: list;
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    grid-template-columns: repeat(5, 1fr);
}
#name {
    grid-area: name;
    text-align: start;
    font-size: 1.7rem;
    font-weight: bold;
    pointer-events: none;
    text-transform: uppercase;
    background-color: var(--mauve);
    color: var(--white);
    padding-left: 10px;
}
.main-nav li {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
} 
.main-nav a {
    text-decoration: none;
    color: var(--dark);
}
.main-nav li:hover {
    border-bottom: 2px solid var(--faded);
    font-weight: bolder;
}
.main-nav li:active {
    background-color: var(--mauve);
    color: white;
    font-weight: bold;
}
/*Footer*/
footer {
    display: grid;
    background-color: var(--faded);
    padding-top: 20px;
    padding-left: 20px;
    grid-template-areas: 
    'author contact sitemap'
    'validator contact sitemap';
    font-size: 1.1rem;
    font-weight: bolder;
}
footer a{
    text-decoration: none;
    color: var(--dark);
}
footer p {
    text-transform: uppercase;
}
.footerAuthor {
    grid-area: author;
}
.footerValidator {
    grid-area: validator;
}
.footerContactInfo {
    grid-area: contact;
}
.footerSitemap {
    grid-area: sitemap;
}
.footerSitemap li:hover {
    font-weight: bolder;
    text-decoration: underline;
}
/*general ends*/
/*wrapper*/
.wrapper {
    display: grid;
    gap: 20px;
}
/*top container*/
.top-container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'picture picture article';
}
.topImage {
    grid-area: picture;
}
.aboutme {
    grid-area: article;
    padding: 20px 10px;
}
.aboutme h1 {
    font-size: 1.5rem;
}
.aboutme a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bolder;
}

/*boxes*/
.boxes {
    display: grid;
    gap: 30px;
    margin: 10px;
    grid-template-areas: 
    'header header'
    'employment education'
    'skills hobbies';
}
.relExp {
    grid-area: header;
    font-size: 1.5rem;
}
.box-employment {
    grid-area: employment;
    background-image: url(Employmentimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

}
.box-education{
    grid-area: education;
    background-image: url(Educationimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.box-skills {
    grid-area: skills;
    background-image: url(Skillsimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.box-hobby {
    grid-area: hobbies;
    background-image: url(Hobbyimages.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.textBox {
    background-color: var(--faded);
    padding: 10px;
    text-align: center;
    margin: 50px;
    text-transform: uppercase;
}
.textBox a {
    text-decoration: none;
    color: var(--dark);
}
.textBox:hover {
    background-color: var(--mauve);
    font-weight: bolder;
}
.mottoWrapper {
    display: grid;
    gap: 30px;
    margin: 10px;
    grid-template-areas: 
    'header header'
    'picture content';
}
.mottoHeader {
    grid-area: header;
}
.mottoImage {
    grid-area: picture;
}
.mottoContent {
    grid-area: content;
    padding: 40px 2px;
}
/* Media queries*/
@media only screen and  (max-width: 780px) {
    .wrapper {
        display: grid;
        gap: 5px;
    }
    nav {
        display: grid;
        gap: 20px;
        padding: 10px;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'name' 
        'list';
    }
    .main-nav ul {
        grid-area: list;
        display: grid;
        gap: 20px;
        padding: 0;
        list-style: none;
        font-size: 1.2rem;
        grid-template-columns: 1fr;
    }
    #name {
        grid-area: name;
        text-align: center;
        font-size: 1.7rem;
        font-weight: bold;
        pointer-events: none;
        text-transform: uppercase;
        padding: 10px;
    }
    .main-nav li {
        display: block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        padding: 0.8rem;
    } 
    .main-nav li:hover {
        border-bottom: none;
        font-weight: bolder;
    }
    .top-container {
        display: grid;
        gap: 0px;
        grid-template-areas: 
        'picture' 
        'article';
    }
    .topImage {
        grid-area: picture;
        padding: 0px 2px 0px 2px;
        margin-bottom: 0;
    }
    .aboutme {
        grid-area: article;
        margin-top: 0;
    }
    .boxes {
        display: grid;
        gap: 30px;
        margin: 10px;
        grid-template-areas: 
        'header'
        'employment' 
        'education'
        'skills' 
        'hobbies';
    }
    .mottoWrapper {
        display: grid;
        gap: 00px;
        grid-template-areas: 
        'header'
        'picture' 
        'content';
    }
    .mottoImage {
        align-self: center;
    }
    footer {
        display: grid;
        background-color: var(--faded);
        padding: 20px;
        grid-template-areas: 
        'author'
        'validator' 
        'contact'
        'sitemap';
    }
    .underline {
        border-bottom: 2px solid var(--faded);
    }
}
